/* Standard Element Styles ****************************************************/

h2,
h2~*,
h1~h2,
h1~h2~*:not(h1):not(h3):not(h4):not(h5):not(div.admonition) {
  padding-left: 0.5rem !important;
}

h3,
h3~*,
h1~h3,
h1~h3~*:not(h1):not(h2):not(h4):not(h5):not(div.admonition) {
  padding-left: 1.0rem !important;
}

h4,
h4~*,
h1~h4,
h1~h4~*:not(h1):not(h2):not(h3):not(h5):not(div.admonition) {
  padding-left: 1.5rem !important;
}

h5,
h5~*,
h1~h5,
h1~h5~*:not(h1):not(h2):not(h3):not(h4):not(div.admonition) {
  padding-left: 2.0rem !important;
}

h1,
h2,
h3,
h4,
h5 {
  clear: right;
  overflow: hidden;
}

h2 {
  border-bottom: 2px solid var(--md-default-fg-color--lighter);
}

h3 {
  border-bottom: 1px solid var(--md-default-fg-color--lightest);
}

li {
  padding-left: 0.25rem;
  padding-right: 0.35rem;
  list-style-type: square;
}

ol>li {
  list-style-type: decimal;
}

li>p:first-child {
  padding-top: 0.25rem;
}

li>p:last-child {
  padding-bottom: 0.5rem;
}

thead th:empty {
  display: none;
}

.md-sidebar__inner {
  border-left: 1px solid;
}

.md-nav__item {
  list-style-type: none;
}

.md-grid {
  max-width: initial
}

.md-typeset hr {
  clear: both;
}

/* Mermaid Styles *************************************************************/

.mermaid-td-20,
.mermaid-td-50 {
  float: left;
  margin: 1.25rem 2.5rem;
}

div.mermaid-td-20 svg[id^="m"][width][height][viewBox] {
  min-width: 200px;
  max-width: 20%;
  height: auto;
}

div.mermaid-td-50 svg[id^="m"][width][height][viewBox] {
  min-width: 400px;
  max-width: 50%;
  height: auto;
}

.edgeLabel {
  background: none !important;
}

.edgeLabel rect {
  padding: 0.25rem;
}

path.arrowheadPath {
  fill: #555 !important;
}

g.node.primary>* {
  fill: var(--md-code-bg-color) !important;
  color: var(--md-code-fg-color) !important;
}

g.node.secondary>* {
  fill: var(--md-code-fg-color) !important;
  color: var(--md-code-bg-color) !important;
}

g.node.success>*, g.node.green>* {
  fill: var(--md-code-hl-string-color) !important;
}

g.node.failure>*, g.node.red>* {
  fill: var(--md-code-hl-special-color) !important;
}

g.node.terminal>* {
  fill: var(--md-primary-bg-color--light) !important;
}

g.node.blue>* {
  fill: var(--md-code-hl-keyword-color) !important;
}

g.node.purple>* {
  fill: var(--md-code-hl-constant-color) !important;
}

g.node.success>*,
g.node.failure>*,
g.node.terminal>* {
  color: var(--md-code-bg-color) !important;
}

/* Layout Styles **************************************************************/

.clearall {
  clear: both;
}

.image-block-left {
  max-width: 25% !important;
  height: auto;
  margin: 0.2rem 0.75rem 0.75rem 0rem;
  float: left;
  clear: both;
  border: 1px solid var(--md-default-fg-color--lightest);
}

.headshot {
  max-width: 500px;
  border: 1px solid #555;
}

blockquote {
  clear: both;
}

div.admonition {
  margin: 1.5625rem 0.25rem !important;
  font-size: 0.8rem !important
}
